:root{
    --bg:#f6f6f6;
	 --fg:#444;
	 --hfg:#222;
	 --sec:#999; 
    --accent:#8c77f7;
	 --accentDark:#634dd1;
	 --accentLight:#bbaffa;
}

body{
  background:var(--bg);
  color:var(--fg);
  font-family:apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size:1.125rem;
  line-height:1.688rem;
  width:70ch;
  margin:0 auto;
  padding:0.5rem;
}
h1,h2,h3,h4{
  line-height:1.7rem;
  color:var(--hfg);

}
time{
  color:var(--sec);
  font-size: 1rem;
}

a{
  color:var(--accentDark);
}
a:visited{
  color:var(--accent);
}
button{
  background: var(--accentLight);
  color:#372c73;
  border:none;
  padding:0.5rem 0.75rem;
  border-radius:0.4rem;
  font-size:1rem;
}
hr{
  outline: 0;
  border:none;
  border-bottom:2px solid #ccc;
}
img{
  width:100%;
  height:auto;
}
p{
  margin-bottom:1.125rem;
}

pre{
  padding:1rem;
}




@media (max-width: 560px) {
  /* Styles for narrower-than-70ch screens */
  body {
    padding: 1rem;
	 width:90%;
    font-size: 0.95rem;
  }

  button{
	 font-size: 0.8rem;
  }

  h1, h2 {
    font-size: 1.3rem;
    line-height: 1.2;
  }
}
kbd{

  background:#eee;
  padding:0.2rem 0.5rem;
  box-shadow: 2px 2px 0px 1px #999,inset 2px 2px 0px 1px #fff;
}
mark{
   background:#f5ff99;
	backdrop-filter:blur(3px);
}



.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}
