---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/boy.png';

---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>
<p>
Who is this atoms guy you ask , well its atoms19 the webdev who works with frontend and backend 
in frequent weekends, and during exams
</p>
<p>  I do coding as well as drawing as a side hobby , i used to write but cant now
these days i just feed my stories half written to an LLM and let it write it.
same with code lots of help from my dear Awa.</p>
<p>
i learnt to code some point when i was 15 , after a failed attempt at 12 or 13 always wanted to make an apps and stuff since childhood ,
not a very good coder , except in web
but i know my way around a computer especially if its running linux , i make websites for the time being
and wants to do it for a living if AI doesnt eat that job
<a>#fuckvibecoders</a></br>

jokes aside I study about AI and try to train AI models in my free time (not smart ones tho)
math of AI is fun and the tech is surprising but i hate them hypers it wont your place in the world 
</p>
<sm>btw the AW stands for atomic wave , which was my original sl usrename , ogs remember :0</sm>
what else my real name is vishal and i go to college 

<hr>
<p style="color:var(--bg);">
I have an obsession with manga and anime , not particularly japan but i love the artstyle and artists there,
I am super into romance mangas and novels recommend me some but i swear i have read all the good ones
(including shojos) (gotta fill in the void T-T)
</p>
<p>
</p>

</Layout>
