---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/boy.png';

---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	>

	<p>
I am atoms19 or simply atoms , 19 is just a unique identifier github bestowed upon me i belive
but anyways it stuck , my orginal name wasnt even atoms that is the shortened name 
it was atomic wave , it is still used as acronym in my projects in it shortened form that is AW
hence the name of the site AW , i was born in Sololearn a dead coding platform 
but then again i spread to github and discord before its death 
	</p><p>

	ofc i am talking like my coder persona is a different person as I am delusional and loves roleplaying 
	things like that.. 
	that aside lemme me introduce my real self I am vishal , I come from the south western part of Indian subcontinent
	I wasnt born attached to computers but I liked TV,games and design of software from very times
	back in 4th-5th grade I used to reimagine how windows would look and draw it on paper with oil pastels.
	</br>
	<br>
	that makes me think I was born for being a CS guy , i wasnt aware back then anyways i took up coding 
	by 15 and made some html sites and kinda stuck there 
	i progressed a bit more by 10th and by 12th still progressing as an unedrgrad in college
	<br>
	</p>
	<p>
	apart from coding I loved drawing ,reading and writing 
	I write everything from sm.. novels to mangas sometimes
	also this blog is a reflection of my love of writing (idc if i have typos , grammer is pointless cmm )
	I draw digital as well as sketches ,love to draw anime OCs
	you wont see much of this side of me here cause its not AW related
	</p>
	<br>
	<br>
	<hr>
	<p style="color:var(--bg);">
 ego issues , jelousy issues , loneliness issues , I am so done fr planning to die by 30

	</p>


</Layout>
